In [1]:
%load_ext sql

In [2]:
import configparser
config = configparser.ConfigParser()
config.read('dwh.cfg')

['dwh.cfg']

In [3]:
DWH_DB                 = config.get("CLUSTER","DB_NAME")
DWH_DB_USER            = config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD        = config.get("CLUSTER","DB_PASSWORD")
DWH_PORT               = config.get("CLUSTER","DB_PORT")
DWH_ENDPOINT           = config.get("CLUSTER","HOST")

In [4]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://airflow_redshift_user:Admin1234@dwhcluster.c7zdep0dysl9.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: airflow_redshift_user@dwh'

In [11]:
%%sql
select * from staging_events
limit 5

 * postgresql://airflow_redshift_user:***@dwhcluster.c7zdep0dysl9.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('Maroon 5', 'Logged In', 'Aleena', 'F', 6, 'Kirby', Decimal('173.661589'), 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', 1541022995796.0, 237, 'Harder To Breathe', 200, 1541382480796, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44'),
 ('Cyndi Lauper', 'Logged In', 'Aleena', 'F', 14, 'Kirby', Decimal('226.324440'), 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', 1541022995796.0, 237, 'True Colors', 200, 1541384515796, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44'),
 ('Owl City', 'Logged In', 'Aleena', 'F', 22, 'Kirby', Decimal('190.170979'), 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', 1541022995796.0, 237, 'Tidal Wave', 200, 1541386369796, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44'),
 ('Alicia Keys', 'Logged In', 'Anabelle', 'F', 1, 'Simpson', Decimal('229.067299'), 'free', 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', 'PUT', 'NextSong', 1541044398796.0, 259, "If I Ain't Got You", 200, 1541393246796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', '69'),
 ('DeGarmo & Key', 'Logged In', 'Chloe', 'F', 1, 'Cuevas', Decimal('236.486079'), 'free', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', 1540940782796.0, 224, "I'm Accepted (The Pledge Album Version)", 200, 1541399606796, 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0', '49')]

In [12]:
%%sql
select * from songplays where songplay_id > 5 and songplay_id < 9
order by songplay_id
limit 5

 * postgresql://airflow_redshift_user:***@dwhcluster.c7zdep0dysl9.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[(6, 1541429034796, '44', 'paid', 'SOZARNI12A67020744', 'AR3WLE91187B99430A', 269, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (7, 1541489806796, '66', 'free', 'SOTDKGV12AB017E39A', 'AR8WV031187FB3F903', 191, 'Harrisburg-Carlisle, PA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (8, 1542281972796, '30', 'paid', 'SOULTKQ12AB018A183', 'ARKQQZA12086C116FC', 324, 'San Jose-Sunnyvale-Santa Clara, CA', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0')]

In [13]:
%%sql
select * from users where user_id = 78
limit 5

 * postgresql://airflow_redshift_user:***@dwhcluster.c7zdep0dysl9.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('78', 'Chloe', 'Roth', 'F', 'free')]

In [14]:
%%sql
select * from songs 
limit 5

 * postgresql://airflow_redshift_user:***@dwhcluster.c7zdep0dysl9.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOAAAQN12AB01856D3', 'Campeones De La Vida', 'ARAMIDF1187FB3D8D4', 0, Decimal('153.364440')),
 ('SOAACFC12A8C140567', 'Supernatural Pt. II', 'ARNHTE41187B99289A', 0, Decimal('343.091790')),
 ('SOAACTC12AB0186A20', 'Christmas Is Coming Soon', 'ARXWFZ21187FB43A0B', 2008, Decimal('180.766889')),
 ('SOAADAD12A8C13D5B0', 'One Shot (Album Version)', 'ARQTC851187B9B03AF', 2005, Decimal('263.993020')),
 ('SOAADJH12AB018BD30', 'Black Light (Album Version)', 'AR3FKJ61187B990357', 1975, Decimal('385.906490'))]

In [15]:
%%sql
select * from artists where artist_id = 'AR00B1I1187FB433EB'
limit 5

 * postgresql://airflow_redshift_user:***@dwhcluster.c7zdep0dysl9.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('AR00B1I1187FB433EB', 'Eagle-Eye Cherry', 'Stockholm, Sweden', None, None)]

In [16]:
%%sql
select * from time where start_time = '1541412804796'
limit 5

 * postgresql://airflow_redshift_user:***@dwhcluster.c7zdep0dysl9.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(1541412804796, 10, 5, 45, 11, 2018, '1')]

In [17]:
%%sql
select le.starttime, d.query, d.line_number, d.colname, d.value,
le.raw_line, le.err_reason    
from stl_loaderror_detail d, stl_load_errors le
where d.query = le.query
order by le.starttime desc
limit 5

 * postgresql://airflow_redshift_user:***@dwhcluster.c7zdep0dysl9.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

In [18]:
%%sql
select distinct e.ts as start_time,e.userId,e.level,s.song_id,s.artist_id,e.sessionId,e.location,e.userAgent
from staging_events e, staging_songs s
where e.artist = s.artist_name and e.song = s.title and e.length = s.duration
and e.page = 'NextSong'
limit 5

 * postgresql://airflow_redshift_user:***@dwhcluster.c7zdep0dysl9.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(1542828674796, '49', 'paid', 'SOECLAD12AAF3B120A', 'ARZENOX1187B98A645', 816, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (1541397425796, '57', 'free', 'SOCGOZK12A8151BD5D', 'ARM0P6Z1187FB4D466', 56, 'San Antonio-New Braunfels, TX', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/534.59.10 (KHTML, like Gecko) Version/5.1.9 Safari/534.59.10"'),
 (1543458973796, '54', 'free', 'SOTNHIP12AB0183131', 'ARD46C811C8A414F3F', 951, 'Yuba City, CA', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (1542317145796, '49', 'paid', 'SOKHAAU12A6D4F71EF', 'ARDD09D1187B99AD60', 630, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (1543221239796, '44', 'paid', 'SOVWWJW12A670206BE', 'AR3ZL6A1187B995B37', 781, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')]

In [19]:
%%sql
select distinct e.ts as start_time,e.userId,e.level,s.song_id,s.artist_id,e.sessionId,e.location,e.userAgent,
e.length,s.duration
from staging_events e, staging_songs s
where e.artist = s.artist_name and e.song = s.title and e.length = s.duration
and e.page = 'NextSong'
limit 5

 * postgresql://airflow_redshift_user:***@dwhcluster.c7zdep0dysl9.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(1542387636796, '97', 'paid', 'SOHRKIG12A8C1415C7', 'ARO4NIA1187B9B8289', 633, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"', Decimal('165.589750'), Decimal('165.589750')),
 (1542649784796, '52', 'free', 'SOWCLTO12A67021CEC', 'ARXP7MQ1187FB3AC5F', 601, 'Houston-The Woodlands-Sugar Land, TX', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0', Decimal('271.620769'), Decimal('271.620769')),
 (1541414462796, '42', 'paid', 'SOCNCGL127D9786D66', 'AREHK7O1187B9ADDD7', 129, 'New York-Newark-Jersey City, NY-NJ-PA', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', Decimal('198.216690'), Decimal('198.216690')),
 (1541948437796, '67', 'free', 'SOCHRXB12A8AE48069', 'ARTDQRC1187FB4EFD4', 414, 'Nashville-Davidson--Murfreesboro--Franklin, TN', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', Decimal('229.615870'), Decimal('229.615870')),
 (1543342151796, '49', 'paid', 'SOCHRXB12A8AE48069', 'ARTDQRC1187FB4EFD4', 987, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0', Decimal('229.615870'), Decimal('229.615870'))]